<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS Configuration for Node.js Application with Socket.IO
  For use with SmartASP hosting
-->
<configuration>
  <system.webServer>
    
    <!-- Node.js Handler -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        
        <!-- Node Inspector Debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Static Content - Serve from public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        
        <!-- Next.js Static Assets - route to Node so Next can serve them -->
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/(.*)$" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- Socket.IO - Important for real-time features -->
        <rule name="SocketIO" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="socket.io.*" />
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- All other dynamic content -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
        
      </rules>
    </rewrite>
    
    <!-- IISNode Configuration -->
    <iisnode 
      node_env="production"
      nodeProcessCommandLine="node"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      
      <!-- Logging Settings -->
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="false"
      devErrorsEnabled="false"
      
      <!-- Performance Settings -->
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      
      <!-- File Watching -->
      watchedFiles="*.js;iisnode.yml;web.config"
      
      <!-- Max Request Body Size (50MB for file uploads) -->
      maxRequestBodySize="52428800"
      
      <!-- Timeouts -->
      asyncCompletionThreadCount="0">
      <environmentVariables>
        <add name="NODE_ENV" value="production" />
      </environmentVariables>
    </iisnode>
    
    <!-- Enable WebSocket Support for Socket.IO -->
    <webSocket enabled="true" />
    
    <!-- Static Content Configuration -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    
    <!-- Security Settings -->
    <security>
      <requestFiltering>
        <!-- Allow large file uploads (50MB) -->
        <requestLimits maxAllowedContentLength="52428800" maxQueryString="2048" />
      </requestFiltering>
    </security>
    
    <!-- HTTP Response Headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Compression Settings -->
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    
    <!-- URL Compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Default Document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <!-- Directory Browsing - Disabled for security -->
    <directoryBrowse enabled="false" />
    
  </system.webServer>
  
  <!-- System.Web Configuration -->
  <system.web>
    <compilation debug="false" />
  </system.web>
  
</configuration>



