<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Route all traffic to Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Send all requests to server.js -->
        <rule name="NextJs" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configure iisnode with production environment -->
    <iisnode 
      nodeProcessCountPerApplication="1"
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="false"
      devErrorsEnabled="false">
      <environmentVariables>
        <add name="NODE_ENV" value="production" />
      </environmentVariables>
    </iisnode>

    <!-- Allow Node to serve static assets -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- Prevent directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Don't replace Node's responses with IIS error pages -->
    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
